*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  padding: 0.1em;
}
body .hidden {
  display: none;
}
body .header {
  border-bottom: 1px solid #E2E8F0;
}
body .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8em;
  padding-bottom: 2em;
}
body .ham {
  display: none;
}
body .ham .barr {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
body .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .nav-menu .nav-item {
  margin-left: 5rem;
}
body .nav-menu .nav-item .nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}
body .nav-menu .nav-item .nav-link:hover {
  color: #482ff7;
}
body .nav-logo {
  width: 6%;
  padding: 1.5em;
  margin-left: 0.9em;
  margin-top: -3.5em;
}
body .hero img {
  opacity: 70%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
body .hero p {
  position: absolute;
  text-align: right;
  top: 70%;
  left: 60%;
  transform: translate(-10%, -60%);
  color: #18BFD4;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 3em;
}
@media only screen and (max-width: 768px) {
  body .nav {
    padding: 5em;
    padding-bottom: 2em;
  }
  body .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  body .nav-menu.active {
    left: 0;
  }
  body .nav-item {
    margin: 2.5rem 0;
  }
  body .ham {
    display: block;
    cursor: pointer;
  }
  body .ham.active .barr:nth-child(2) {
    opacity: 0;
  }
  body .ham.active .barr:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  body .ham.active .barr:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body .nav-logo {
    width: 6%;
    padding: 0.1em;
    padding-top: 0.2em;
  }
  body .hero p {
    position: absolute;
    text-align: right;
    top: 50%;
    right: -10%;
    left: 90%;
    transform: translate(-150%, -150%);
    color: #18BFD4;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
}

.Spec-detail {
  border: 0.2em solid #18BFD4;
  border-radius: 2em;
  text-align: center;
  line-height: 3em;
  margin: 1em;
  padding: 5em;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.product_cat1 {
  font-size: 1em;
  color: #18BFD4;
}

.spec-sec {
  display: grid;
  grid-gap: 10em;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-content: center;
}
.spec-sec .product_cat {
  border: 6px solid #18BFD4;
  border-radius: 2em;
  display: grid;
  align-content: center;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .Spec-detail {
    border: 0.2em solid #18BFD4;
    border-radius: 2em;
    text-align: center;
    line-height: 3em;
    margin: 0.5em;
    padding: 2em;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
}
main video {
  display: grid;
  padding: 2em;
  width: 100%;
  align-content: center;
}
main .t-f p {
  padding: 3em;
  color: #18BFD4;
  text-align: center;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 5em;
}

@media only screen and (max-width: 768px) {
  main video {
    padding: 2em;
    width: 40em;
  }
  main .t-f p {
    font-size: 4em;
  }
}
.feat-things {
  padding-left: 10em;
  justify-content: space-evenly;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.feat-sec {
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}
.feat-sec h5 {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 1em;
  width: 10em;
  padding: 1em;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  border: 0.2em solid #18BFD4;
  border-radius: 1em;
}

.lightbox {
  line-height: 5em;
  padding: 8em;
  text-align: center;
  font-family: montserrat, sans-serif;
  font-weight: "regular";
  font-size: 1em;
  border-radius: 2em;
}
.lightbox img {
  border-radius: 5em;
  padding: 2em;
  height: 60%;
  width: 60%;
}
.lightbox p {
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .lightbox {
    padding: 4em;
    font-size: 0.8em;
  }
  .lightbox img {
    border-radius: 5em;
    padding: 2em;
    height: 90%;
    width: 90%;
  }
  .feat-things {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .feat-sec {
    font-size: 1em;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .feat-sec h5 {
    font-size: 0.8em;
    width: 8em;
    padding-right: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    border: 0.2em solid #18BFD4;
    border-radius: 1em;
  }
}/*# sourceMappingURL=main.css.map */