body {
  padding: 0.1em;
   
  .hidden {
    display: none;
  
  }
  .header{
    
    border-bottom: 1px solid #E2E8F0;
  }
  
  .nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8em;
    padding-bottom: 2em;
  }
  .ham {
    display: none;
  
    .barr {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .nav-item {
      margin-left: 5rem;
  
      .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #475569;
      }
      
      .nav-link:hover{
        color: #482ff7;
      }
    }
    
  }
  .nav-logo {
    width: 6%;
    padding: 1.5em;
    margin-left: 0.9em;
    margin-top: -3.5em;
    
  }

  .hero img {
    opacity: 70%;
    
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
  }
  .hero p {
    position: absolute;
    text-align: right;
    top: 70%;
    left: 60%;
    transform: translate(-10%, -60%);
    color: #18BFD4;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 3em;
     
  }
  
  
  @media only screen and (max-width: 768px) {
    .nav {
      padding: 5em;
      padding-bottom: 2em;
    }
    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-menu.active {
        left: 0;
    }
  
    .nav-item {
        margin: 2.5rem 0;
    }
  
    .ham {
        display: block;
        cursor: pointer;
    }
    .ham.active .barr:nth-child(2) {
      opacity: 0;
    }
    
    .ham.active .barr:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    
    .ham.active .barr:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-logo {
      width: 6%;
      padding: 0.1em;
      padding-top: 0.2em;
      
    }
    .hero p {
      position: absolute;
      text-align: right;
      top: 50%;
      right: -10%;
      left: 90%;
      transform: translate(-150%, -150%);
      color: #18BFD4;
      font-family: montserrat, sans-serif;
      font-weight: bold;
      font-size: 1em;
       
    }


     
    
  
     
  
  } 
   
}